
.big{
	position: absolute;
	left: 200px;
	right: 200px;
	background-color: black;
	bottom: 200px;
	top:200px ;
	color: green;
}
.center{
	display: flex;
	position: relative;
	left: 50%;
	right: 50%;
	background-color: red;
	height: 60px;
	width: 60px;
	justify-content: center;
	align-items:  flex-end;
}
.center-in{
    position: relative;
    left: 50%;
	right: 50%;
	background-color: lightblue;
	height: 20px;
	width: 20px;
	transform: translate(-30px,-25px);
}
.left-up{
	position: relative;
	right: 70px;
	top: 20px;
	height: 60px;
	width: 60px;
	background-color: antiquewhite;
}
.right-up{
	position: absolute;
	height: 55px;
	width: 60px;
	top: 20px;
	right: 20px;
	background-color: aquamarine;

}
.center-two{
	position: relative;
	top: 250px;

}
.right-down{
	position: absolute;
	bottom: -10px;
	right: -10px;
	height: 55px;
	width: 60px;
	background-color: violet;
}